{% extends 'Converter/base.html' %}

{% block appstaticfiles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'Converter/index.css' %}">
{% endblock %}

{% block content %}
<div class="convert-type p-5" id="length">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="{% static 'Converter/length.png' %}" alt="length" width="50%">
        <h1 class="display-4">Length</h1>
      </div>
      <div class="col-lg-7">
        <form class="form" ajaxUrl="{% url 'Converter:convLength' %}" id="len-form" method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <h5>Source</h5>
            <input type="radio" name="src-length-radio" value="src-feet" id="src-length-feet">
            <label for="src-length-feet"> Feet</label>
            <input type="radio" name="src-length-radio" value="src-inch" id="src-length-inch">
            <label for="src-length-inch"> Inch</label>
            <input type="radio" name="src-length-radio" value="src-metre" id="src-length-metre">
            <label for="src-length-meter"> Metre</label>
          </fieldset>
          <fieldset class="form-group">
            <h5>Destination</h5>
            <input type="radio" name="dest-length-radio" value="dest-feet" id="dest-length-feet">
            <label for="dest-length-feet"> Feet</label>
            <input type="radio" name="dest-length-radio" value="dest-inch" id="dest-length-inch">
            <label for="dest-length-inch"> Inch</label>
            <input type="radio" name="dest-length-radio" value="dest-metre" id="dest-length-metre">
            <label for="dest-length-meter"> Metre</label>
          </fieldset>
          <div class="form-group">
            <input type="number" step="any" class="form-control" name="src-length" id="src-length" placeholder="Enter Value">
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg">Convert</button>
        </form>
        <br>
        <p class="lead" id="lenResult"></p>
      </div>
    </div>
  </div>
</div>
<div class="convert-type p-5" id="weight">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="{% static 'Converter/weight.png' %}" alt="weight" width="50%">
        <h1 class="display-4">Weight</h1>
      </div>
      <div class="col-lg-7">
        <form class="form" action="{% url 'Converter:convWeight' %}" method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <h5>Source</h5>
            <input type="radio" name="src-weight-radio" value="src-pound">
            <label for="src-length-feet"> Pound</label>
            <input type="radio" name="src-weight-radio" value="src-kg">
            <label for="src-length-inch"> Kg</label>
          </fieldset>
          <fieldset class="form-group">
            <h5>Destination</h5>
            <input type="radio" name="dest-weight-radio" value="dest-pound">
            <label for="dest-length-feet"> Pound</label>
            <input type="radio" name="dest-weight-radio" value="dest-kg">
            <label for="dest-length-inch"> Kg</label>
          </fieldset>
          <div class="form-group">
            <input type="number" class="form-control" name="src-weight" id="src-weight" placeholder="Enter Value">
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg">Convert</button>
        </form>
        {% if wgtResult != '' %}
        <h1>Converted: {{ wgtResult }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="convert-type p-5" id="volume">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="{% static 'Converter/volume.png' %}" alt="volume" width="50%">
        <h1 class="display-4">Volume</h1>
      </div>
      <div class="col-lg-7">
        <form class="form" action="{% url 'Converter:convVolume' %}" method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <h5>Source</h5>
            <input type="radio" name="src-vol-radio" value="src-cuMt">
            <label for="src-length-feet"> Cubic Metre</label>
            <input type="radio" name="src-vol-radio" value="src-l">
            <label for="src-length-inch"> Litre</label>
          </fieldset>
          <fieldset class="form-group">
            <h5>Destination</h5>
            <input type="radio" name="dest-vol-radio" value="dest-cuMt">
            <label for="dest-length-feet"> Cubic Metre</label>
            <input type="radio" name="dest-vol-radio" value="dest-l">
            <label for="dest-length-inch"> Litre</label>
          </fieldset>
          <div class="form-group">
            <input type="number" class="form-control" name="src-vol" id="src-vol" placeholder="Enter Value">
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg">Convert</button>
        </form>
        {% if volResult != '' %}
        <h1>Converted: {{ volResult }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="convert-type p-5" id="currency">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="{% static 'Converter/currency.png' %}" alt="currency" width="50%">
        <h1 class="display-4">Currency</h1>
      </div>
      <div class="col-lg-7">
        <form class="form" action="{% url 'Converter:convCurrency' %}" method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <h5>Source</h5>
            <input type="radio" name="src-cur-radio" value="src-dollar">
            <label for="src-length-feet"> Dollar</label>
            <input type="radio" name="src-cur-radio" value="src-rupee">
            <label for="src-length-inch"> Rupee</label>
          </fieldset>
          <fieldset class="form-group">
            <h5>Destination</h5>
            <input type="radio" name="dest-cur-radio" value="dest-dollar">
            <label for="dest-length-feet"> Dollar</label>
            <input type="radio" name="dest-cur-radio" value="dest-rupee">
            <label for="dest-length-inch"> Rupee</label>
          </fieldset>
          <div class="form-group">
            <input type="number" class="form-control" name="src-cur" id="src-cur" placeholder="Enter Value">
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg">Convert</button>
        </form>
        {% if curResult != '' %}
        <h1>Converted: {{ curResult }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    $('#len-form').submit(function(e) {
      e.preventDefault();
      console.log('Submit through my Ajax Function.');
      $.ajax({
        type: 'POST',
        url: $(this).attr('ajaxUrl'),
        data: {
          src: $('input[name=src-length-radio]:checked').val(),
          dest: $('input[name=dest-length-radio]:checked').val(),
          val: $('input[name=src-length]').val(),
        },
        success: function(responseData) {
          console.log("result: " + responseData.res);
          $('#lenResult').text("Converted: " + responseData.res);
          $('#wgtResult').text("");
          $('#volResult').text("");
          $('#curResult').text("");
        }
      });
    });
    
  });
</script>
{% endblock %}
