main {
  background: url('hero.jpg') rgba(40, 40, 40, 0.8);\
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  height: 80vh;
}

main > p {
  font-size: 28px;
}

footer {
  height: 30vh;
}
